server:
  port: 8080

spring:
  application:
    name: "accounts"
  jpa:
    properties:
      hibernate:
        jdbc:
          time_zone: UTC

  config:
    import:
      - "configserver:http://localhost:8071/"
      - "classpath:buildInfo.yml"
      - "classpath:buildEnvInfo.yml"

management:
  endpoints:
    web:
      exposure:
        include: "*"

springdoc:
  api-docs:
    path: /api-docs

info:
  app:
    name: "@project.name@"
    description: "@project.description@"
    version: "@project.version@"

# Custom
com:
  goaleaf:
    accounts:
      auth:
        service:
          url: "http://localhost:7080/"
        access:
          token:
            validationStrategy: ${COM_GOALEAF_ACCOUNTS_AUTH_ACCESS_TOKEN_VALIDATIONSTRATEGY}
      client:
        uri: ${COM_GOALEAF_ACCOUNTS_CLIENT_URI}
