server:
  port: 8080

spring:
  application:
    name: "glf-accounts"
  jpa:
    properties:
      hibernate:
        jdbc:
          time_zone: ${SPRING_JPA_PROPERTIES_HIBERNATE_JDBC_TIME_ZONE}
  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog.xml

  config:
    import:
      - "configserver:http://configserver:8071/"
      - "classpath:buildInfo.yml"
      - "classpath:buildEnvInfo.yml"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    liveness-state:
      enabled: true
    readiness-state:
      enabled: true
  endpoint:
    health:
      enabled: true
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}

springdoc:
  api-docs:
    path: /api-docs

logging:
  level:
    com:
      goaleaf:
        accounts: DEBUG
  pattern:
    level: "%5p [${spring.application.name}, %X{trace_id}, %X{span_id}]"

info:
  app:
    name: "@project.name@"
    description: "@project.description@"
    version: "@project.version@"

# Custom
com:
  goaleaf:
    accounts:
      auth:
        service:
          url: ${COM_GOALEAF_ACCOUNTS_AUTH_SERVICE_URL}
        access:
          token:
            validationStrategy: ${COM_GOALEAF_ACCOUNTS_AUTH_ACCESS_TOKEN_VALIDATIONSTRATEGY}
      clientUri: ${COM_GOALEAF_ACCOUNTS_CLIENT_URI}